@import "../src/components/MyDatePicker/mydatepicker.scss";
@import "./colors.scss";

// GENERAL

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(-25deg, $primary75 0%, #ffffff 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

// COMMUN

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;

  .logo_wealth_health {
    width: 5rem;
    height: 100%;
    margin: 2rem 1rem 0 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
}

.link_employee_list_home,
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: $primary;
  color: $neutral0;
  transition: background-color 0.6s ease-in-out;
  &:hover {
    background-color: $primary75;
  }
  .viewEmployees_home {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.5rem;
  }
}

// FORM

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0.5rem 0 2rem 0;
  background-image: linear-gradient(-225deg, $primary75 50%, #ffffff 50%);

  .form-h2 {
    margin: 0.5rem 0 1rem 0;
  }

  .form-group1-2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-group1,
    .form-group2,
    .form-group3 {
      margin-top: 0.5rem;
      width: 100%;
      max-width: 20rem;
      border: #ccc solid 1px;
      border-radius: 5px;
    }
  }

  #state {
    width: 100%;
    margin: 0.5rem 0;    
    max-width: 20rem;
  }

  #department {
    width: 100%;
    max-width: 21.6rem;    
    margin: 0.5rem 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  label {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search_paging {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 98%;
  .input_search {
    max-width: 10rem;
    padding: 12px;    
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

// DATEPICKER

.react-datepicker__header {
  > div > button, > div > select {
    background-color: $primary50;
    color: $neutral0;
    font-weight: 600;
    border: none;
    &:hover {
      background-color: $primary10;
      color: black;      
    }
    padding: 0.5rem;
    margin: 0 0.2rem;
    border-radius: 5px;
  }
  background-color: $primary;
  color: $neutral0;
  border-radius: 5px;
}

// MODAL

.modal-btn {
  width: 50%;
  max-width: 360px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.631);
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 300px;
    height: max-content;
    min-height: 6rem;
    font-weight: bold;
    padding: 0 2rem;
    border: #ccc solid 1px;
    border-radius: 5px;
    background-image: linear-gradient(-25deg, $primary75 0%, #ffffff 100%);
    box-shadow: 0 0 5px 2px rgb(218, 201, 14);

    .modal-image {
      text-align: center;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
    }

    .modal-text {
      text-align: center;
    }

    .modal-close {
      padding: 0.3rem 0.5rem;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: -0.8rem;
      right: -0.8rem;
      background-color: $primary;
      color: #fff;
      box-shadow: 0 0 5px 5px $primary50;
      cursor: pointer;
    }
  }
}

// DROPDOWN

#state,
#department {
  .react-select__control {
    height: 41px;
    border: 1px solid $neutral20;
    border-radius: 4px;
  }

  .react-select__control--is-focused {
    box-shadow: inset 0 0 0 1px black;
  }

  .react-select__option {
    background-color: transparent;
  }
  .react-select__option--is-focused {
    background-color: $primary50;
  }
  .react-select__option--is-selected {
    background-color: $primary;
  }

  .react-select__menu {
    background-color: $primary10;
    border-radius: 5px;
  }
}

// TABLE

table {
  border: 1px solid $primary75;
  // border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: -internal-center;
  padding: 10px;
}

td {
  border: 1px solid $primary75;
  text-align: center;
}

.rc-table {
  .rc-table-thead {
    .rc-table-cell {
      font-weight: normal;
      background-color: $primary75;
      color: #f5f5f5;
    }
  }

  .rc-table-tbody {
    .rc-table-row {
      .rc-table-cell {
        font-size: 1em;
      }
    }
  }
}
