$primary: #556611;
$primary75: #768e12;
$primary50: #a2b165;
$primary25: #f3ffc4;
$primary10: #f8fce7;
$danger: #de350b;
// $dangerLight: #ffbdad;
$neutral0: #fff;
// $neutral5: #f2f2f2;
// $neutral10: #e6e6e6;
$neutral20: #ccc;
// $neutral30: #b3b3b3;
// $neutral40: #999999;
// $neutral50: #808080;
// $neutral60: #666;
// $neutral70: #4d4d4d;
// $neutral80: #333;
// $neutral90: #1a1a1a;
